.filter{
    flex-direction: column;
    background-color: #f1f5f9;
    padding: 30px;
    width: 70%;
    margin: 0px auto 10px auto;
    border-radius: 10px;
    margin-top:10px;
}

.filterSection{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

.filterSection button{
    margin: 0px 5px 0px 5px;
}
.filterOption{
    color: black;
}

.filter button{
    margin: 10px 5px 10px 5px;
}