.filter{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 30px;
    width: 50%;
    margin: 0px auto;
    border-radius: 10px;
    margin-top:10px;
}

.filterSection{
    margin: 10px 0px;
}
.filterOption{
    color: black;
}