.header{
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.navigation{
  width: 100vw;
  background-color: black;
  display: flex;
  color:white;
  justify-content: space-between;
  align-items: center;
}

.options{
  display: flex;
  text-decoration: none;
  list-style-type: none;
  align-items: center;
}

.option{
  padding: 0px 30px;
  color: white;
}

.button{
  margin: 20px;
}

a:hover{
  color:blue
}