.species-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.species-item {
background-color: aliceblue;
flex: 0 0 calc(33.33% - 10px); 
margin: 2px;
padding: 5px;
border-radius: 5px;
}

.species-button{
    margin: 20px 5px;
}