.species-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.species-item {
background-color: aliceblue;
flex: 0 0 calc(33.33% - 10px); 
margin: 2px;
padding: 20px;
border-radius: 5px;

}

.species-button{
  margin-top: 10px;
}