.tableCell, .tableHeader{
    border: 1px solid gray;
    padding: 10px;
    min-width: 7vw;
}

.sortHeader{
    cursor: pointer;
    user-select: none;
}

.table-wrapper{
    margin-top: 10px;
}

.tableDiv{
    margin: 10px 5px 10px 5px;
    overflow-x: scroll;
    background-color: #f1f5f9;
}

.table-buttons{
    display: flex;
}

.table-buttons button{
    margin: 0px 2px 0px 2px;
}

.table-options-wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

.table-options-button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
}

.table-options-text{
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
}